$color-primary: #3bc1b4; // Vibrant turquoise water
$color-primary-light: #6ee4d8; // Shallow water near the beach
$color-primary-dark: #118b82; // Deep, shadowed water

$color-secondary-light: #f9d7a5; // Sandy shore highlight
$color-secondary-dark: #d4a35b; // Golden rock accents

$color-tertiary-light: #99cfa1; // Green vegetation on cliffs
$color-tertiary-dark: #4a7f65; // Darker shrub tones


$color-grey-light: #f7f7f7;
$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// SIZING
$default-border-radius: 3px;